<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagem enviada</title>

<style>
    .box{
        border: solid 2px rgb(255, 255, 255);
        text-align: center;
        
    }

    p{
        font-size: 20pt;
    }


</style>


</head>



<body>


    <div class="box">

        <h2>SUA MENSAGEM FOI ENVIADA AO MUNDO!!!</h2>

        <p><strong>Seu Nome: </strong> <%=nome%></p>
        <p><strong>Telefone:</strong>  <%=telefone%></p>
        <p><strong>Seu Email:</strong> <%=email%></p>
        <p><strong>Seu País:</strong> <%=pais%></p>





    </div>





</body>
</html>